<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="contenedor">
      <div class="alignRight">
        <a  data-dismiss="modal" href="#"><img  src="../assets/img/icons/btn-close.png"/></a>
      </div>
      <div id="box11">
      </div>
      <div id="box12">
         <h4 id="name" class="hero"></h4><br>
         <div class="style-1"style="overflow: auto; height:250px; padding-right:10px;">
            <p id="description"></p>
         </div>
      </div>
    </div>
    <div id="box24">
      <div id="box21">
       </div>
       <div id="box22">
      </div>
       <div id="box23">
       </div>
     </div>
  </div>
</div>
