<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/icons/favourites.png"/>
    <title>Marvel</title>
    <link type="text/css" href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
  </head>
  <body>

  <div class="container-fluid">
    <header>
			<div class="row vertical-align-bottom">
        <div class="col-xs-12 col-sm-4 col-lg-4">
          <img   src="../assets/img/marvel.png"/>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="input-group"  style="width : 70%" >
            <input type="text" class="form-control" value="" placeholder="Search Character...">
            <span class="input-group-btn">
              <button class="btn btn-default buscar" type="button"><img width="18px" src="/assets/img/icons/search.png" /></button>
            </span>
          </div>
        </div>
			</div>
    </header>

			<div class="row pad">
					<div class="row">
						<div class="col-md-9">
              <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-4">
                  <p id="cafe"><img  width="40px" src="../assets/img/icons/characters.png"/><Font>Characteres</Font></p>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-8" align="right">
                  <div class="input-group ordenar"  style="width : 100%" >
                    <SELECT class="Sort">
                       <OPTION value="0" >Sort By</OPTION>
                       <OPTION value="name">From A to Z</OPTION>
                       <OPTION value="-name">From Z to A</OPTION>
                       <OPTION value="modified">Last modified date</OPTION>
                       <OPTION value="-modified">First modification date</OPTION>
                    </SELECT>
                  </div>
                </div>
              </div>

              <div class="row" >
                <%var numPaginacion=data.data.total/10%>
                  <%for( var k = 0; k < numPaginacion; k++) {%>
                  <div class="personajes" id= <%=k+1%>>
                    <%for( var j = (10*k); j < (10*(k+1));  j++) { if (data.data.results[j]){%>%>
                      <div class="col-xs-6 col-sm-6 col-md-6 BGBlanco">
                            <div class="col-md-6">
                              <img  class="img-responsive img-circle" src= <%=data.data.results[j].thumbnail.path + '/standard_xlarge.'+ data.data.results[j].thumbnail.extension%>>
                            </div>
                        		<div class="col-md-6">
                              <h4 id="cafe" class="hero" > <%=data.data.results[j].name%></h4>
                              <p class="desc-hero"><%=data.data.results[j].description%>...</p>
                              <input type="image" class="modalCharacter" src="../assets/img/view-more.png" value="<%=data.data.results[j].id%>"/>
                        		</div>
                            <div class="col-md-12">
                              <h4 id="gris" class="related-comic"> Related Comic</h4>
                              <%  for( var i = 0; i < 4; i++) { if (data.data.results[j].comics.items[i]){%>
                                <div class="col-xs-6 col-sm-6 col-md-6" style="overflow: hidden;height: 30px;">
                                  <a  href="#" class="modalComic" id='comicAdd' value="<%=data.data.results[j].comics.items[i].resourceURI%>"><img src="../assets/img/icons/link-arrow.png"><p><%=data.data.results[j].comics.items[i].name%></p></a>
                                </div>

                              <%}} %>

                        		</div>
                      </div>
                  <%}}%>
                </div>
                <%}%>
              </div>
              <BR>
              <div class="text-center">
                <div class="container">
                    <nav aria-label="Page navigation">
                        <ul class="pagination light-theme" id="pagination" value="<%=numPaginacion%>"></ul>
                    </nav>
                </div>
              </div>
						</div>
						<div class="col-md-3">
              <p id='cafe'><img  width='40px' src='../assets/img/icons/favourites.png'/><Font>My Favourites</Font></p>
              <BR><BR>
                <div class="favorites style-1">
                  <div  id="favouritesComics">
                  </div>
              </div>
						</div>
					</div>
			</div>

      <!--Modal para comics-->
    <%- include('./Comic')%>
    <%- include('./Character')%>
    <footer>
      <div class="row vertical-align-bottom">
          <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 id="blanco">
              Grability 2016 - Todos los derechos reservados
            </h3>
            <p id="blanco"> Prueba Tenica desarrollada por Andrea L. Ramírez Silva</p>
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-4">
            <img class="img-responsive"  src="../assets/img/grability-logo.png"/>
          </div>
      </div>
    </footer>

</div>

</body>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/jquery.twbsPagination.js" type="text/javascript"></script>

</html>
